.navbar .logo {
    height: 50px;
    width: auto;
}


nav {
    position: sticky;
    z-index: 99;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 7%);
    top: 0;
    background-color: var(--bs-primary-white);
}

.sub-links {
    margin-left: auto;
    margin-right: 1rem;
}

.sub-links ul {
    display: flex;

}

.sub-links>ul>li {
    padding: 30px 25px;
    position: relative;
}

.sub-links ul a,
.sub-links ul p {
    font-size: 0.94rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--bs-primary-text-color);
}

.sub-links ul li:hover a,
.sub-links ul li:hover p {
    color: var(--bs-primary-color);
}

.sub-links ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    z-index: 2;
}

.sub-links ul .dropdown {
    overflow: hidden;
    background-color: var(--bs-primary-white);
    padding: 20px 0;
    position: absolute;
    display: flex;
    gap: 10px;
    width: 18rem;
    border-radius: 0.5rem;
    top: 5.1rem;
    left: 0;
    transform: translateY(20px);
    border-top: 2px solid var(--bs-primary-color);
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 29px rgb(0 0 0 / 5%);
    transition: all 0.4s ease-in-out;
}


.sub-links ul .dropdown li {
    padding: 5px 25px 5px 35px;
    width: 100%;
    position: relative;


}

.sub-links ul .dropdown li a {
    color: var(--bs-secondary-text-color);
    gap: 0.6rem;
    width: 100%;
    transition: all 0.3s linear;
}

.sub-links ul .dropdown li:hover a {

    padding-left: 0.4rem;
    color: var(--bs-primary-color);
}

.sub-links ul .dropdown li:hover a::before {
    left: 1rem;
    opacity: 1;
    visibility: visible;

}

.sub-links ul .dropdown li a::before {
    position: absolute;
    z-index: 1;
    left: -0.6rem;
    top: 50%;
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 1rem;
    height: 2px;
    background-color: var(--bs-primary-color);
    width: 0.8rem;
    transition: all 0.3s linear;
}


.search::after {
    margin: 0 1rem;
    content: "";
    display: block;
    height: 1.6rem;
    width: 2px;
    background-color: #ebebeb;
}



.hero-section {
    height: 52rem;
    overflow: hidden;
    background-image: url(../images/hero-4-bg.jpg);
}

.hero-section .hero-subtitle {
    text-transform: capitalize;
    color: var(--bs-primary-white);
    background-color: var(--bs-banner-button);
    padding: 8px 25px;
    border-radius: 24px;
    font-size: 14px;
    width: fit-content;
    color: var(--bs-primary-white);
}

.hero-section .leftcontainer {
    flex-shrink: 0;
}

.hero-section .leftcontainer h2 {

    color: var(--bs-primary-white);
    font-size: 4.5rem;
    line-height: 92px;
    margin-bottom: 12px;
}

.hero-section .leftcontainer p {
    line-height: 30px;
    color: var(--bs-primary-white);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.hero-content {
    gap: 10rem;
    padding-top: 5rem;


}

.hero-content .rightcontainer {
    height: 100%;
    position: relative;
    flex: 1;
}



.hero-content .rightcontainer .img {
    height: 40rem;
    width: 40rem;
    animation: rotate 50s linear infinite;

}

.hero-content .rightcontainer .hero-image {
    height: 48rem;
    position: absolute;
    z-index: 1;
    bottom: -9rem;
    right: 7rem;
}


.feature-section {
    margin-top: -90px;
    z-index: 4;
    position: absolute;
    width: 100%;
}

.feature-section .feature {
    background-image: url(../images/features-4-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 50px;
    border-radius: 12px;
}

.feature-section .flex>div {
    flex: 1;
}

.feature-section .flex {
    gap: 20px;
}

.feature-section img {
    height: 70px;
    width: auto;
}

.feature-section .rightcontainer {
    font-size: 22px;
    color: var(--bs-primary-white);
    line-height: 30px;
    font-weight: 700;
}

.about-section {
    margin-top: 13rem;

}

.about-section h5 {
    text-align: center;
    color: var(--bs-primary-color);
    font-size: 0.875rem;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 0.85rem;
    font-weight: 800;
}

.about-section h3 {
    text-align: center;
    line-height: 48px;
    font-size: 2.25rem;
}

.about-section .about-content {
    margin-top: 4.0625rem;
    height: 40rem;
    gap: 3rem;
    margin-bottom: 8rem;

}

.about-section .about-content>div:nth-child(1) {
    flex: 1 1 100%;
    height: 100%;
}

.about-section .about-wrap {
    position: relative;
    height: 100%;
}

.about-section .about-wrap .img {
    border-radius: 0.75rem;
    overflow: hidden;
}

.about-content .about-wrap .top-right {
    position: absolute;
    z-index: 2;
    right: 0;
    height: 10rem;
    width: 10rem;
    top: 2rem;
}

.about-content .about-wrap .middle {
    position: absolute;
    z-index: -1 !important;
    top: 30%;
    right: 35%;
    z-index: 0;
    transform: translate(50%, -50%);
}

.about-content .about-wrap .top-left {
    width: 23rem;
    height: 20rem;

}

.about-content .about-wrap .bottom-right {
    position: absolute;
    z-index: 2;
    bottom: -2rem;
    right: 0;

}

.about-section .rightcontainer {
    padding-left: 7rem;
}

.about-section .rightcontainer h3 {
    font-size: 1.5rem;
    line-height: 36px;
    margin-bottom: 1.5rem;
    text-align: left;
}

.about-section .rightcontainer p {
    color: var(--bs-secondary-text-color);
    line-height: 30px;
    margin-bottom: 1.5rem;

}

.about-section .rightcontainer ul {
    padding-bottom: 2rem;
    border-bottom: 1px solid #ebebeb;
}

.about-section .rightcontainer ul li {
    margin-bottom: 1rem;
    color: var(--bs-primary-color);
}

.about-section .rightcontainer ul li a {
    font-weight: 800;
    color: var(--bs-primary-text-color);
}

.about-section .sign {
    gap: 2rem;
    padding-top: 2rem;
}

.about-section .sign h6 {
    font-size: 0.875rem;
    color: var(--bs-secondary-text-color);
    font-weight: 400;
}


.service-section {
    background-image: url(../images/features-6-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 9.06rem 0;
}

.section-content h2 {
    font-size: 3rem;
    line-height: 52px;
    color: var(--bs-primary-text-color);
}

.section-content h2 span {
    color: var(--bs-primary-color);
}

.section-content .top-header {
    margin-bottom: 6rem;
}

.section-content .grid-3 {
    grid-gap: 2rem;
}

.section-content .grid-3 .card {
    padding: 2.81rem;
    gap: 20px;
    background-color: var(--bs-primary-white);
    border-radius: 12px;
    border: 1px solid #ebebeb;

}

.section-content .grid-3 .card .leftcontainer {
    flex-shrink: 0;
    height: 3.125rem;
    width: auto;
    position: relative;
}

.section-content .grid-3 .card .leftcontainer::before {
    position: absolute;
    content: "";
    background-color: var(--bs-primary-color);
    opacity: 0.10;
    height: 50px;
    border-radius: 50%;
    z-index: 0;
    left: -12px;
    top: 12px;
    width: 50px;
}

.section-content .grid-3 .card h4 {
    font-size: 1.375rem;
    margin-bottom: 0.625rem;
}

.section-content .grid-3 .card p {
    line-height: 30px;
}


.banner-section {
    padding: 7.5rem 0;
    background-image: url(../images/counter-bg.jpg);
    background-position: center;
    background-size: cover;
    color: var(--bs-primary-white);
}

.banner-section h2 {
    font-size: 3.75rem;
    line-height: 72px;
    margin-bottom: 2rem;
}

.banner-section a {
    text-decoration: underline;
    color: var(--bs-primary-color);
    text-transform: capitalize;
}

.testimonials .top-header .img {
    position: relative;
}

.testimonials .top-header {
    margin-top: 8rem;

}



.testimonials .top-header>div {
    width: 50%;
    flex: 1;
}

.testimonials .top-header img {
    width: auto;
}

.testimonials .top-header .leftcontainer .img::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 430px;
    height: 430px;
    background: linear-gradient(-90deg, #54d6eb 0%, #035cdd 100%);
    border-radius: 50%;
    transform: translate(80px, 80px);
    z-index: -1;
}

.testimonials .top-header .leftcontainer .img::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 430px;
    height: 430px;
    background: linear-gradient(-90deg, #54d6eb 0%, #035cdd 100%);
    opacity: 0.4;
    border-radius: 50%;
    transform: translate(80px, 80px) scale(1.23);
    z-index: -1;
}

.testimonials .rightcontainer {
    padding-top: 4rem;
}

.testimonials .rightcontainer h2 {
    font-size: 2.5rem;
    text-align: center;
}

.testimonials .rightcontainer img {
    margin-bottom: 30px;
    height: 60px;
}

.testimonials .rightcontainer .card {
    background: #ffffff;
    box-shadow: 0px 0px 111px 0px rgb(0 0 0 / 15%);
    padding: 35px 42px 50px;
    border-bottom: 7px solid #005de0;
    border-radius: 10px;
    margin-top: 50px;
}

.testimonials .rightcontainer p {
    font-size: 26px;
    line-height: 44px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 400;

}

.testimonials .rightcontainer h5 {
    font-size: 1rem;
}

.testimonials .rightcontainer h6 {
    font-weight: 500;
    font-size: 12px;
}

/* .slider {
    width: 40rem;
} */

.slider:hover .slick-prev {
    opacity: 1;
    visibility: visible;
    left: 30px !important;
}

.slider:hover .slick-next {
    opacity: 1;
    visibility: visible;
    right: 30px !important;
}

.slick-prev,
.slick-next {
    top: 45% !important;
}

.slick-prev {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.6s ease-in-out;
    z-index: 99;
    border-radius: 50%;
    height: 45px !important;
    width: 45px !important;
    border: 1px solid var(--bs-primary-color) !important;
    box-shadow: 0px 5px 57px 0px rgb(0 0 0 / 15%);
    padding: 10px;

}

.slick-next {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.6s ease-in-out;
    z-index: 999;
    border-radius: 50%;
    height: 45px !important;
    width: 45px !important;
    border: 1px solid var(--bs-primary-color) !important;
    padding: 10px;
    box-shadow: 0px 5px 57px 0px rgb(0 0 0 / 15%);

}

.slick-prev:before,
.slick-next:before {
    color: var(--bs-primary-color) !important;
    background-color: transparent !important;
}


.slick-prev:hover:before,
.slick-next:hover:before {
    color: white !important;
}

.slick-prev:hover,
.slick-next:hover {
    background: var(--bs-primary-color) !important;
    opacity: 1;
}

.client-slider .slide {
    margin-right: 3rem;
}

.client-slider .slide img {
    height: 2.5rem;
    width: auto;
}

.clients {
    background: #fbfbfc;
    padding: 8.75rem 0;
}

.clients h2 {
    text-align: center;
    margin-bottom: 45px;
    color: var(--bs-tertiary-text-color);
}

.blog .grid-3 {
    margin-top: 5rem;
    height: 25rem;
    grid-gap: 20px;
}

.blog .grid-3>div {
    position: relative;
    cursor: pointer;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.blog .grid-content:hover img {
    transform: scale(1.05);
}

.blog .grid-content .date {
    width: fit-content;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    background: var(--bs-linear-gradient);
    padding: 16px 20px;
    border-radius: 12px;
    color: var(--bs-primary-white);
}

.blog .grid-content>div:nth-child(1) h3 {
    font-size: 24px;
    font-weight: 400;
}

.blog .grid-content>div:nth-child(1) h6 {
    font-size: 12px;
    text-align: center;
}

.blog .grid-content a {
    color: var(--bs-primary-white);
    font-size: 22px;
}

.blog .grid-content img {
    transition: all 0.4s ease-in-out;

}

.blog .grid-content a:hover {
    color: var(--bs-primary-color);
}

.blog .grid-content .comments p::after {
    content: "comments";
    margin-left: 3px;

}

.blog .grid-3 .middle-content>div:nth-child(1) {
    margin-bottom: 1rem;
}

.blog .grid-3 .middle-content {
    color: var(--bs-primary-white);
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    padding: 2rem;
}



.blog .grid-3 svg {
    color: var(--bs-primary-color);
}


.subscribe-content {
    position: relative;
    z-index: 2;
    background-image: url(../images/subscribe-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 115px 50px;
    border-radius: 10px;
    margin-bottom: -210px;
    color: var(--bs-primary-white);
}


.subscribe-content h2 {
    font-size: 36px;
}

.subscribe-content p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.subscribe-content input {
    height: 60px;
    border: 1px solid #ebebeb;
    box-shadow: none;
    color: #415674;
    border-radius: 4px 0 0 4px;
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 10px 25px;
    font-size: 13px;
    line-height: 30px;
    width: 40rem;
    font-weight: 600;
    transition: all 0.3s linear;
}

.subscribe-content button {
    height: 60px;
    background: #005de0;
    color: #ffffff;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 700;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

footer {
    background: #000c29;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.footer {
    padding-top: 290px;
    color: var(--bs-primary-white);
}

.footer .top-content {
    padding-bottom: 5rem;
    border-bottom: 1px solid #1a253f;
}

.footer .grid-content .links {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .grid-content h4 {
    font-size: 20px;
    margin: 20px 0;
}

.footer .grid-content a,
.footer .grid-content p {
    font-size: 14px;
    font-weight: 400;
    color: #c4c5c7;
    transition: all 0.3s linear;
}

.footer .grid-content a:hover {
    color: var(--bs-primary-color);

}

.footer .grid-content svg {
    color: var(--bs-primary-color);
}

.footer .grid-content .links a:hover {
    padding-left: 0.5rem;
}

.footer .grid-content>div:nth-child(2) {
    gap: 0.6rem;
}

.footer .logo {
    height: 3rem;
    margin-bottom: 2rem;
    width: fit-content;
}

.footer .bottom-content {
    padding: 2rem 0;
}

.footer .bottom-content h6 {
    font-size: 14px;
    font-weight: 400;
    color: #c4c5c7;
}



.footer .bottom-content .social-media .icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #15203b;
    margin-right: 12px;
}

.footer .bottom-content .social-media .icon svg {
    height: 24px;
    width: 24px;
}


#progress.active {
    visibility: visible;
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
}

#progress {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateX(50px);
    transition: all 0.2s ease-in-out;
    position: fixed;
    bottom: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #005de0;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress-value {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #f3f3f3;
}

#progress-value svg {
    height: 18px;
    color: #005de0;
    width: 18px;
}