@media all and (max-width:1440px) {
    .container {
        width: 1140px;

    }



}

@media all and (max-width:1200px) {
    .container {
        width: 960px;

    }

    .testimonials .top-header .leftcontainer .img::after,
    .testimonials .top-header .leftcontainer .img::before {
        left: 130px;
    }

    .hero-content .rightcontainer .img {
        height: 30rem;
        width: 30rem;
    }

    .hero-content {
        gap: 1rem;
    }

    .hero-section {
        height: 86vh;
    }

    .hero-content .rightcontainer .hero-image {
        height: 40rem;
        right: 2rem;
    }

    .section-content h2,
    .testimonials .rightcontainer h2,
    .blog h5 {
        font-size: 2.25rem;
    }

    .testimonials .rightcontainer p {
        padding: 0 80px;
    }

    .hero-section .leftcontainer h2 {
        font-size: 55px;
    }

    .feature-section .feature {
        padding: 35px 30px;
    }

    .about-section .rightcontainer {
        padding: 0;
    }


    .section-content .grid-3 .card .leftcontainer {
        width: fit-content;
    }

    .banner-section h2 {
        font-size: 45px;
    }

    .testimonials .top-header,
    .section-content .grid-3 .card {
        flex-direction: column;
    }

    .testimonials .top-header .img {
        text-align: center;
        width: 100%;
    }

    .testimonials .top-header>div {
        width: 100%;
    }

    .testimonials .top-header .slide .img {
        display: flex;
        justify-content: center;
    }

}

@media all and (max-width: 1000px) {

    .container {
        width: 720px;
    }

    .navbar {
        padding: 1rem 0;
    }

    .hero-section {
        height: 70vh;
    }

    .hero-section .leftcontainer h2 {
        font-size: 45px;
        line-height: 60px;
    }

    .sub-links {
        display: none;
    }

    .feature-section .flex>div,
    .about-section .about-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-section .about-content>div:nth-child(1) {
        width: 100%;
    }

    .hero-section .leftcontainer {
        flex-shrink: 1;
    }

    .about-section .about-content {
        height: 70rem;
        gap: 2rem;
    }

    .hero-content .rightcontainer .img {
        height: 20rem;
        width: 20rem;
    }

    .hero-content .rightcontainer .hero-image {
        height: 35rem;
        right: 0;
        bottom: -14rem;
    }

    .search {
        margin-left: auto;
    }

    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content .about-wrap .bottom-right {
        bottom: 0;
    }

    .blog,
    .clients,
    .testimonials,
    .banner-section,
    .service-section {
        padding: 80px 0;
    }

    .blog .grid-3 {

        height: 40rem;
    }

    .subscribe-content {
        padding: 90px 50px;
    }

    .subscribe-content input {
        width: 26rem;
    }
}


@media all and (max-width:768px) {
    .container {
        width: 540px;
    }

    .testimonials .top-header>div {
        padding-top: 1rem;
    }

    .testimonials .rightcontainer img {
        height: 60px !important;
    }

    .testimonials .rightcontainer p {
        font-size: 24px;
        line-height: 36px;
    }

    .testimonials .top-header .leftcontainer .img::after,
    .testimonials .top-header .leftcontainer .img::before {
        left: 20px;
        top: -2rem;
        height: 20rem;
        width: 20rem;
    }

    .testimonials .top-header img {
        height: 40rem;
    }

    .section-content h2,
    .testimonials .rightcontainer h2,
    .blog h5,
    .subscribe-content h2 {
        font-size: 28px;
        text-align: center;
        line-height: 36px;
    }

    .hero-section {
        height: 62rem;

    }

    .hero-content {
        align-items: center;
        height: 100%;
    }

    .feature-section .flex,
    .hero-content,
    .section-content .top-header {
        flex-direction: column;
    }

    .section-content h2 {
        margin-bottom: 1rem;

    }

    .bottom-content>div {
        flex-direction: column;
        align-items: center;
    }

    .subscribe-content p,
    .banner-section h2 {
        text-align: center;
    }

    .subscribe-content input {
        width: 18rem;
    }

    .footer .bottom-content h6 {
        margin-bottom: 2rem;
    }

    .feature-section {
        position: relative;
        z-index: 999;
        width: 100%;
    }

    .about-section {
        margin-top: 4rem;
    }

    .feature-section .flex>div {
        width: 100%;
        align-items: center;
        padding: 35px 30px;
    }

    .footer .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog .grid-3 {
        grid-template-columns: repeat(1, 1fr);
        height: 80rem;
    }
}


@media all and (max-width:600px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }

    .footer .grid-4,
    .section-content .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonials .top-header .leftcontainer .img::after,
    .testimonials .top-header .leftcontainer .img::before {
        left: 0px;
        top: -2rem;
        height: 10rem;
        width: 10rem;
    }

    .subscribe-content .flex {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .subscribe-content input,
    .subscribe-content button {
        width: 100%;
        border-radius: 6px;
    }

    .testimonials .top-header img {
        height: 30rem;
    }

    .testimonials .rightcontainer p {
        padding: 0;
    }

    .client-slider .slide {
        margin: 0;
    }

    body {
        width: 100vw;
        overflow: hidden;
    }
}